/* Подключение шрифта Comfortaa-Light */
@font-face {
    font-family: "Comfortaa-Light";
    src: url('fonts/Comfortaa-Light.ttf');
}

/* Общие стили для всего документа */
* {
    font-family: 'Soyuz Grotesk', sans-serif;
    font-size: 1.05em;
}

body {
    font-family: 'sans-serif', "Comfortaa-Light";
    /* Изменение шрифта для всего документа */
    margin: 0;
    padding: 0;
    background-color: #ff99cc;
    /* Фоновый цвет страницы (розовый) */
}

/* Стили для заголовка в шапке */
header {
    background-color: #ff66b2;
    /* Фоновый цвет заголовка (розовый) */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    /* Изменение размера шрифта для заголовка */
    text-transform: uppercase;
    /* Изменение текста заголовка в верхний регистр */
}

main {
    margin: 20px;
}

/* Стили для формы и элементов ввода */
form {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffb6d9;
    /* Фоновый цвет формы (розовый) */
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    /* Сделать текст меток жирным */
}

input[type="text"],
select {
    width: 100px;
    padding: 5px;
    border: 1px solid #ff66b2;
    /* Цвет границы элементов ввода (розовый) */
    border-radius: 3px;
    margin-top: 5px;
    /* Добавить отступ над текстовыми полями и списками */
}

/* Стили для кнопки отправки формы */
button {
    display: unset;
    width: 115px;
    background-color: #ff3385;
    /* Фоновый цвет кнопки (розовый) */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    /* Добавить отступ над кнопкой */
}

/* Стили для кнопки при наведении */
button:hover {
    background-color: #ff0066;
    /* Фоновый цвет кнопки при наведении (розовый) */
}

/* Стили для элементов с классом "special" */
.special {
    font-weight: bold;
    /* Делаем текст жирным */
    color: #FF5733;
    /* Изменяем цвет текста */
}

/* Стили для всех заголовков h2 внутри формы */
form h2 {
    font-size: 20px;
    /* Изменяем размер шрифта заголовков */
}

/* Стили для элементов с атрибутом "required" */
[required] {
    border-color: #E74C3C;
    /* Изменяем цвет границы */
}