/* Подключение шрифта sans-serif */
@font-face {
    font-family: "Sans-serif";
    src: url('fonts/microsoftsansserif.ttf');
}

/* Общие стили для всего документа */
* {
    font-family: 'Sans-serif', sans-serif;
    font-size: 1.05em;
}

body {
    /* Свойство в CSS каскадирование */
    font-family: 'sans-serif', "Sans-serif";
    margin: 0;
    padding: 0;
    background-color: #ff99cc;
}

/* Стили для заголовка в шапке */
header {
    background-color: #ff66b2;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    margin: 20px;
}

/* Стили для столбцов заголовков (селектор по классу) */
.col-header {
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #000;
    padding: 8px;
}

/* Отступы между колонками */
th.col-header,
td {
    border-right: 1px solid #000;
}

/* Удаляем правую границу у последней ячейки в каждой строке */
th.col-header:last-child,
td:last-child {
    border-right: none;
}

/* Стиль для x (селектор по идентификатору) */
#result-x {
    color: rgb(104, 18, 33);
}